@page
@model signalrfiledownloaddotnetcore.Pages.FileDownloadModel
@{
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <form method="post">
                <button type="submit" class="btn btn-info">Download File</button>
            </form>
        </div>
    </div>
</div>