@page
@model signalrfiledownloaddotnetcore.Pages.HomePageModel
@{
}
@if (TempData["notification"] != null)
{
    <div class="alert alert-primary" role="alert">
    @TempData["notification"]
</div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>SignalR File Async Download</p>
    <ol>
        <li>Go to the <strong>FileDownload</strong> page.</li>
        <li>Click the <strong>Download</strong> button.</li>
        <li>The file will start downloading after 6 seconds.</li>
    </ol>
</div>
